@font-face {
  font-family: 'Omny';
  font-weight: 'normal';
  src: url('./assets/fonts/210\ Omny.otf') format('truetype');
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Omny';
}

.App {
  text-align: center;
}
